.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#random-movie {
    padding: 0 !important;
    width: 100%;
}

.random-movie-text-description-container {
    position: absolute;
    margin-top: 4rem !important;
}

.random-image {
    max-height: 50rem;
    width: 100%;
    margin-top: -10rem;
}

.random-movie-content-wrapper {
    padding: 0 !important;
    width: 100%;
    display: flex;
    justify-content: center;
}
